.best-seller {
    padding-top: 125px;
    margin-bottom: 230px;

    &>h1 {
        font-size: 5rem;
        font-weight: 100;
        margin: 3px 17px 0 0;
    }

    &>p {
        font-size: 1.6rem;
        color: $color-title;
        margin: 19px 0px 70px 0px;
        padding: 0 160px;
    }

    &-container {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 73px;

        &-food {
            width: 300px;
            &>h2{
                font-size: 2.60rem;
                margin: 10px 0;
                font-weight: 100;
            }
            &>p{
                color: $color-title;
                margin: 0;
            
            }
        }
    }
}