.chicken-grill {
    justify-content: space-between;
    background-image: url("/src/img/Chicken-grill-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 109px;
    padding-bottom: 107px;

    &-container {
        padding-top: 16px;
        margin: 0 130px;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row-reverse;

        &>.containers-title {
            align-self: flex-end;
            margin-bottom: 67px;
            margin-left: 6px;

            &>h1 {
                font-size: 6rem;
                font-weight: 100;
                margin: 0;
                letter-spacing: 1px;
            }

            &>p {
                font-size: 1.8rem;
                margin: 29px 61px 74px 0;
            }

            &>button {
                width: 320px;
                height: 60px;
                font-size: 1.6rem;
            }
        }


    }


}