.footer-background {
    padding-top: 232px;
    padding-bottom: 295px;
    background-color: $color-footer;
    color: white;

    @media (max-width:798px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer-services {
        @media (max-width:1222px) {
            margin-left: 0 !important;
        }
    }

    .footer {
        margin-left: 94px;

        @media (max-width:543px) {
            font-size: 2.5rem;
        }

        @media (max-width:798px) {
            margin-left: 50px;
            flex-wrap: wrap-reverse;
        }



        &-title-here {
            max-width: 453px;
            margin-right: 172px;

            @media (max-width :1303px) {
                margin-right: 80px;

            }

            &>p {
                font-size: 1.4rem;
                line-height: 1.7rem;
                word-spacing: 0.26rem;
                margin-top: 32px;

                @media (max-width:543px) {
                    font-size: 2rem;
                    line-height: 2.4rem;
                }

            }

            &-icons {
                margin-top: 37px;


                &>:first-child {
                    margin: 0;
                }

                &>a {
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    background-color: white;
                    border-radius: 50%;
                    margin-left: 17px;
                    text-decoration: none;


                    .fa-brands {
                        font-size: 1.8rem;
                        color: $color-footer;
                        transition: all 0.3s;

                        @media (max-width:543px) {
                            font-size: 3.3rem;

                        }

                    }

                    &:hover .fa-brands {
                        color: $color-active;
                    }
                }



            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            width: 50%;
            

            @media (max-width :1303px) {
                margin-right: 20px;

            }


            &>h2 {
                margin-bottom: 26px;
            }

            &>a {
                margin-bottom: 4px;
            }

            &>a {
                color: white;
                text-decoration: none;
                line-height: 2.3rem;
                font-size: 1.4rem;
                transition: all 0.3s;

                &:hover {
                    color: $color-active;
                }


                @media (max-width:543px) {
                    font-size: 2.5rem;
                    line-height: 2.6rem;
                }
            }

            &:nth-child(3) {
                margin-left: 5px;


            }

            &:last-child {
                width: 31%;
                margin-right: 21px;

                @media (max-width :1303px) {
                    margin-right: 40px;

                }
            }
        }




    }


}