.header {
    justify-content: space-between;
    max-width: $width-page + 21px;

    &-logo {
        width: 540px;
        margin-top: 7px;
    }

    &-nav {
        margin: 6px 45px 0 0;
        padding: 0;


        &-item {
            margin-left: 69px;
            margin-right: 10px;

            &:first-child {
                margin: 0;

            }

            &:nth-child(3) {
                margin-left: 45px;
            }

            &:nth-child(4) {
                margin-left: 45px;
            }





            &>a {
                font-size: 1.47rem;
                text-decoration: none;
                color: white;
                transition: all 0.3s;

                &:hover {
                    color: $color-active;
                }
            }
        }
    }

    &-input {
        &>input {
            display: none;
            height: 35px;
            width: 0;
            border: 0;
            border-radius: 10px;
            margin-left: 20px;
            outline: none;
            transition: all 1s;
        }
    }

    &-input-button {
        height: 35px;
        width: 35px;
        margin-left: 20px;
        border: 0;
        @include sprite($-search-icon);
        background-color: transparent;



    }
}