.header {
    justify-content: space-between;
    max-width: $width-page + 21px;


    @media (max-width:1350px) {
        margin: 0 30px;
    }



    &-logo {
        width: 540px;
        margin-top: 7px;

        @media (min-width:1037px) and (max-width:1263px) {
            display: none;
        }

        &>img {
            @media (max-width:543px) {
                width: 100px;
                margin-top: 3px;
            }
        }
    }

    &-nav {
        margin: 6px 45px 0 0;
        padding: 0;


        &-item {
            margin-left: 69px;
            margin-right: 10px;

            &:first-child {
                margin: 0;

            }

            &:nth-child(3) {
                margin-left: 45px;
            }

            &:nth-child(4) {
                margin-left: 45px;
            }


            &>a {
                font-size: 1.47rem;
                text-decoration: none;
                color: white;
                transition: all 0.3s;

                &:hover {
                    color: $color-active;
                }
            }

            @media (max-width:1037px) {

                &:first-child {
                    margin-bottom: 40px;
                }

                margin-right: 0 !important;
                margin-left: 0 !important;
                margin-bottom: 40px;

            }

            @media (max-width:543px) {
                &:first-child {
                    margin-bottom: 20px;
                }

                margin-bottom: 20px;

            }
        }

        @media (max-width: 1037px) {
            position: absolute;
            top: 69px;
            left: 34px;
            margin-top: 60px;
            padding: 0;
            flex-direction: column;
            height: 0;
            overflow: hidden;
            transition: all 1s;
        }
        @media (max-width:543px) {
            margin-top: 30px;
        }
    }



    &-input {
        position: relative;

        @media (max-width:543px) {
            margin-top: 12px;
        }

        &>input {
            opacity: 0;
            height: 35px;
            width: 0;
            border: 0;
            border-radius: 10px;
            margin-left: 20px;
            outline: none;
            transition: all 1s;

            @media (max-width:600px) {
                font-size: 1.5rem;
            }

            @media (max-width:543px) {
                font-size: 2rem;
            }

        }

        &-output {
            position: absolute;
            overflow-x: hidden;
            overflow-wrap: break-word;
            padding: 1rem;
            width: 15rem;
            height: 20rem;
            top: 2.4rem;
            left: 1.7rem;
            color: $color-title-big;
            background-color: rgba($color-title, $alpha: 0.7);

            @media (max-width:600px) {

                top: 3rem;
            }

            @media (max-width:543px) {

                top: 5rem;
            }

            .output-value {
                border: 2px solid rgba($color-title, $alpha: 1);
                padding: 0.3rem;

                &:hover {
                    border: 2px solid $color-title-big;
                    border-radius: 10px;
                    padding: 0.3rem;
                    cursor: pointer;
                }
            }

        }
    }

    &-input-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        margin-left: 20px;
        border: 0;
        background-color: transparent;

        .fa-magnifying-glass {
            color: white;
            font-size: 2rem;
        }



    }
}

.visibility-input {
    opacity: 1 !important;
    width: 190px !important;

    @media (max-width:543px) {
        width: 80px !important;
    }
}