.hero {
    padding-top: 38px;
    width: 100%;
    height: 100vh;
    background-color: gray;
    background-image: url("/src/img/hero-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @media (max-height:630px) {
        height: 100%;
        padding-bottom: 100px;
    }



    &-container {
        &>.containers-title {
            margin-top: 126px;
            margin-right: 98px;

            &>p {
                margin-top: 14px;
                font-size: 1.9rem;
                line-height: 2.1rem;
            }

            &>button {
                width: 245px;
                margin-left: 6px;
            }

            @media (max-width: 1037px) {
                margin-right: 52px;
                width: 459px;
            }

            @media (max-width: 791px) {
                margin-right: 0;
                width: 452px;
            }

            @media (max-width:600px) {
                width: 427px;

            }

            @media (max-width:543px) {
                width: 262px;

            }
        }
    }
}