.hero {
    padding-top: 38px;
    width: 100%;
    height: 100vh;
    background-color: gray;
    background-image: url("/src/img/hero-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    &-container {
        &>.containers-title {
            margin-top: 126px;
            margin-right: 98px;

            &>p {
                margin-top: 14px;
                font-size: 1.9rem;
                line-height: 2.1rem;
            }

            &>button {
                width: 245px;
                margin-left: 6px;
            }
        }
    }
}