.oriental-taste {
    justify-content: space-between;
    background-image: url("/src/img/Oriental-Taste-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 80px;

    @media (max-width:543px) {
        padding-bottom: 0;
    }

    &-container {
        padding: 98px 0 0 49px;
        margin-right: 54px;
        flex-wrap: wrap;
        justify-content: space-between;



        @media (max-width : 1222px) {
            justify-content: center;

            &>img {
                width: 350px;
                height: 350px;
            }


        }

        @media (max-width:543px) {
            &>img {

                width: 250px;
                height: 250px;
            }
        }

        &>.containers-title {
            align-self: flex-end;
            margin-bottom: 30px;

            &>h1 {
                font-weight: 100;
                font-size: 5.8rem;
                margin: 0;
            }

            &>p {
                font-size: 1.555rem;
                margin: 25px 0 60px 0;

                @media (max-width:543px) {
                    margin-bottom: 20px;
                }
            }

            &>button {
                width: 320px;
                height: 60px;
                margin-bottom: 3px;
                font-size: 1.6rem;
            }

            @media (max-width : 1222px) {
                display: flex;
                flex-direction: column;
                margin: 30px 80px;
                align-items: center;
                text-align: center;


            }

            @media (max-width:543px) {
                margin-left: 10px;
                margin-right: 10px;

            }
        }


    }


}