body {
    font-family: $font-main;

}

html {
    box-sizing: border-box;

    @media (max-width:600px) {
        font-size: 12px;
    }
    
    @media (max-width:543px) {
        
        font-size: 8px;

    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
}