.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 65px;
    background-color: $color-button;
    border: 0;
    border-radius: 4px;
    font-weight: bold;
    color: $color-title;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: lighten($color-button, 10%);
    }
}