.container {
    max-width: $width-page;
    margin: auto;
}


.d-flex {
    display: flex;
}

.d-none {
    display: none !important;
}

.hidden {
    display: none;
}


.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.active {
    color: $color-active !important;
}

.uppercase {
    text-transform: uppercase;
}

.line-height {
    line-height: 2rem;
}

.center-text {
    text-align: center;
}