@font-face {
    font-family: "Montserrat";
    src: url("/src/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Grand Hotel";
    src: url("/src/fonts/GrandHotel-Regular.ttf");
}