// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icons-facebook-name: 'icons-facebook';
$icons-facebook-x: 60px;
$icons-facebook-y: 50px;
$icons-facebook-offset-x: -60px;
$icons-facebook-offset-y: -50px;
$icons-facebook-width: 24px;
$icons-facebook-height: 24px;
$icons-facebook-total-width: 100px;
$icons-facebook-total-height: 80px;
$icons-facebook-image: './img/icons/sprite/sprite.png';
$icons-facebook: (60px, 50px, -60px, -50px, 24px, 24px, 100px, 80px, './img/icons/sprite/sprite.png', 'icons-facebook', );
$icons-instagram-name: 'icons-instagram';
$icons-instagram-x: 0px;
$icons-instagram-y: 0px;
$icons-instagram-offset-x: 0px;
$icons-instagram-offset-y: 0px;
$icons-instagram-width: 50px;
$icons-instagram-height: 50px;
$icons-instagram-total-width: 100px;
$icons-instagram-total-height: 80px;
$icons-instagram-image: './img/icons/sprite/sprite.png';
$icons-instagram: (0px, 0px, 0px, 0px, 50px, 50px, 100px, 80px, './img/icons/sprite/sprite.png', 'icons-instagram', );
$icons-twitter-name: 'icons-twitter';
$icons-twitter-x: 0px;
$icons-twitter-y: 50px;
$icons-twitter-offset-x: 0px;
$icons-twitter-offset-y: -50px;
$icons-twitter-width: 30px;
$icons-twitter-height: 30px;
$icons-twitter-total-width: 100px;
$icons-twitter-total-height: 80px;
$icons-twitter-image: './img/icons/sprite/sprite.png';
$icons-twitter: (0px, 50px, 0px, -50px, 30px, 30px, 100px, 80px, './img/icons/sprite/sprite.png', 'icons-twitter', );
$icons-viber-name: 'icons-viber';
$icons-viber-x: 50px;
$icons-viber-y: 0px;
$icons-viber-offset-x: -50px;
$icons-viber-offset-y: 0px;
$icons-viber-width: 50px;
$icons-viber-height: 50px;
$icons-viber-total-width: 100px;
$icons-viber-total-height: 80px;
$icons-viber-image: './img/icons/sprite/sprite.png';
$icons-viber: (50px, 0px, -50px, 0px, 50px, 50px, 100px, 80px, './img/icons/sprite/sprite.png', 'icons-viber', );
$-search-icon-name: 'Search.icon';
$-search-icon-x: 30px;
$-search-icon-y: 50px;
$-search-icon-offset-x: -30px;
$-search-icon-offset-y: -50px;
$-search-icon-width: 30px;
$-search-icon-height: 30px;
$-search-icon-total-width: 100px;
$-search-icon-total-height: 80px;
$-search-icon-image: './img/icons/sprite/sprite.png';
$-search-icon: (30px, 50px, -30px, -50px, 30px, 30px, 100px, 80px, './img/icons/sprite/sprite.png', 'Search.icon', );
$spritesheet-width: 100px;
$spritesheet-height: 80px;
$spritesheet-image: './img/icons/sprite/sprite.png';
$spritesheet-sprites: ($icons-facebook, $icons-instagram, $icons-twitter, $icons-viber, $-search-icon, );
$spritesheet: (100px, 80px, './img/icons/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
