$font-title : "Grand Hotel";
$font-main : "Montserrat";
$backgroundColor-main: #303030;
$color-button: #ffc200;
$color-title-big: #ffc200;
$color-active: #ffc200;
$color-title: #333333;
$width-page :1300px;