section.chicken-grill
    .chicken-grill-container.container.d-flex
        img(src="./img/Chicken-grill-img.png" alt="food")
        .containers-title
            h1.title-big Chicken Grill
            p.line-height Lorem ipsum dolor sit amet, consecte- tur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. 
            button.button.uppercase order now

