section.oriental-taste
    .oriental-taste-container.container.d-flex
        img(src="./img/Oriental-Taste-img.png" alt="food")
        .containers-title
            h1.title-big Orientall Taste
            p.line-height Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae ves- tibulum vestibulum. 
            button.button.uppercase order now

